<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contacts
   </title>
   <link rel="stylesheet" href="/resources/css/contsctStyle.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
   
</head>
<body>
   <div class="nav">
      <a href = "home.html"onclick="window.location.reload()" onmouseover="big(this)" onmouseout="small(this)">Home</a>
      <a href ="MY_WORKS.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">MY WORKS</a>
      <a href="contact.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">Contacts</a>

   </div>
   <div class="Main">
      <div class="Main_Text">
            <div class="Intro" id="intro" >I`M BOLATBEKOVA DAYANA <br>STUDENT : SDU <BR> ID: 200103264</BR></div>  
      </div>
      <div class="social">
         <ul>
            <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="#"><i class="fa fa-vk"></i> </a> </li>
            <li><a href="#"><i class="fa fa-google"></i> </a> </li>
         </ul>
      </div>
   </div>
   
   
</body>
</html>