<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
   <link rel="stylesheet" href="views/resources/css/homeStyle.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
   <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnMj8Xc5_jA0tqVHCoFHCk-2sHt4imItA&callback=initMap&libraries=&v=weekly"
      defer></script>

</head>

<body>

   <div class="nav">
      <a href="#" onclick="window.location.reload()" onmouseover="big(this)" onmouseout="small(this)">Home</a>
      <a href="MY_WORKS.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">MY WORKS</a>
      <a href="contact.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">Contacts</a>

   </div>
   <div class="Main">
      <div class="Main_Text">
         <div class="Intro" id="intro">I`M BOLATBEKOVA DAYANA</div>
      </div>
      <div class=" catalog">
         <img class="catalog_img" id="img"
            src="https://sun9-61.userapi.com/impf/c850420/v850420864/fdaef/uSjDjt3cseE.jpg?size=1527x2160&quality=96&proxy=1&sign=51c9f1434d2838262608531685b8e1a0&type=album"
            alt="">

      </div>
   </div>

</body>

</html>