<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Works</title>
      <link rel="stylesheet" href="/resources/css/worksStyle.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
   
   </head>
<body>
   <div class="nav">
      <a href = "home.html"onclick="window.location.reload()" onmouseover="big(this)" onmouseout="small(this)">Home</a>
      <a href ="MY_WORKS.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">MY WORKS</a>
      <a href="contact.html" onclick="mood(this)" onmouseover="big(this)" onmouseout="small(this)">Contact</a>

   </div>
   <div class="box">
      <div class = "catalog_items">
         <div class="catalog-inner">MY WORKS</div>
      </div>
      <hr>
      <div class="constForBox">
         <div class="boxes" >   
            <div class="box-1 box-back" > <p class="box-1-p text"><a class="btn btn-outline-light" style="width: 60%; font-size: 10px; margin: 10% 20% 0 20% ;" onclick="newPage(this)" href="#" style="text-decoration:none;">GO TO PAGE</a></p> </div>   
            <p>ANIVIEW</p>
         </div>
      </div>
</body>
</html>